*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

ul
,p
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html {
  // this define what 1 rem is
  font-size: 62.5%;

  @include respond(tab-land) { // <  1200?
    font-size: 56.25%; // 1 rem = 9 px
  }

  @include respond(tab-port) { // < 900?
    font-size: 50%; // 1 rem = 8 px
  }

   @include respond(phone) { // < 600
    font-size: 30%;
   }

  @include respond(big-desktop) { // >1800
    font-size: 75%; // 1 rem = 12 px
  }

}

body {
  box-sizing: border-box;
  padding: 3rem;
}
